<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="../stylus/homeStyle.css" type="text/css">
<script type="text/javascript" src="/DesafioMR/web/controller/homeController.js"></script>
<script type="text/javascript" src="/DesafioMR/web/utils/utils.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<head>
<meta charset="ISO-8859-1">
<title>Desafio</title>
</head>
<body>
<div class="divAlign">
	<p>Cantidad de "l" por "location"</p>
	<input class="#buttonAlign" type="button" onclick="getCountLocation()" id="getLocationId" value="Contar!"/>
	<input class="inputText" type="text" id="locationCountId" value="" disabled="disabled" />
	<p>Tiempo de respuesta <input disabled="disabled" type="text" id="timeLocationId"/> </p>
</div>
<div>
	<p>Cantidad de "e" por "episode"</p>	
	<input type="button" onclick="getCountEpisodes()" id="getEpisodeId" value="Contar!"/>
	<input type ="text" id="episodeCountId" disabled="disabled"/>
	<p>Tiempo de respuesta <input disabled="disabled" type="text" id="timeEpisodeId"/> </p>
</div>	
<div>
	<p>Cantidad de "c" por "character"</p>
	<input type="button" onclick="getCountCharacters()" id="getCharacterId" value="Contar!"/>
	<input type="text" id="characternCountId" disabled="disabled"/>
	<p>Tiempo de respuesta <input disabled="disabled" type="text" id="timeCharacterId"/> </p>
</div>	
<div>
	<p>Buscar el origen de cada personaje por cada episodio</p>
	<input type="button" onclick="getValidateApiCall()" id="getEpisodeLocation" value="Buscar!"/>
	<p>Tiempo de respuesta <input disabled="disabled" type="text" id="timeOriginId"/> </p>
	<textarea rows="60" disabled="disabled" id="episodeLocationId" cols="80"></textarea>
</div>	
	
</body>
</html>