@charset "UTF-8";

body {
	font-family: "Helvetica";
	background-color: darkgrey;
	display: block;
};

#buttonAlign{
	font-weight: bold;
	margin-top: 15px;
    margin-left: 10px;
};

div{
	display: flex;
    justify-content: center;
    align-items: flex-start;
    
};

.inputText{
	margin-top: 15px;
    margin-left: 5px;
};